body {
    font: 400 12px Arial, Helvetica, sans-serif;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    padding-top: 0.5em;
}

dt:after {
	content: ":";
}

dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}

#splitter {
	height: 100%;
}